extends ./layout.jade
block content
  div.container
    div.content
      if fuse == null
        h1 Welcome
        p Welcome to the Smart Fuse project. 
        p Please <a href="/login">login</a> to see a personalised homepage 
      else
        h1 Welcome #{user.name}
        p #{user.name}, welcome to the Smart Fuse project. 
        p Please <a href="/login">login</a> to see a personalised homepage 
  div.footer
