extends ./layout.jade
block content
  script.
    function submit(){
      $.get('/api/user', $('#login-form').serialize()).done(function(data){
        console.log(data);
        window.location.replace("/");
      }).error(function(data){
        alert('ERROR!',data)
      })
    }
  div.container
    div.content
      h1 Login
      p Please enter your username and password: 
      form(id='login-form')
        br
        div.row
          div.col-lg-12
            label Email Address:
            input(type='text',placeholder='Email',class='form-control',name='email')
        br
        div.row
          div.col-lg-12
            label Password:
            input(type='password',placeholder='Password',class='form-control',name='password')
        br
      div.row
          div.col-lg-12
            button(onClick = 'submit()',class='btn btn-default') Submit
  div.footer